<%- include('partials/header'); -%>
<div class="container">
    <div style="text-align: center;">
        <h1>Add New Recipie</h1>
    </div>
    <hr><br><br>
    <form action="/" method="POST" style="text-align: center;">
        <label >Recipie Name:</label>
        <input type="text" name="name" placeholder="Enter Recipie Nane"><br><br>
        <label >Recipie Image:</label>
        <input type="text" name="image" placeholder="Enter Image URL"><br><br>
        <label >Ingredients:</label><br>
        <textarea name="ing" placeholder="Enter Ingredients" rows="7" cols="50"></textarea><br><br>
        <label>Method:</label><br>
        <textarea name="prep" placeholder="Enter Preparation" rows="10" cols="50"></textarea><br><br>
        <button class="btn btn-primary">Submit</button>
      </form>
</div>


<%- include('partials/footer'); -%>