<%- include('partials/header'); -%>
<h1 id="head" >Sign Up </h1>
<form action="/signup" method="POST">
    <div class="container" > 
      <label ><b>Email Id</b></label><br>
      <input type="text" placeholder="Enter your Email" name="username"  required><br>
  
      <label ><b>Password</b></label><br>
      <input type="password" placeholder="Enter Password"  minlength="8" name="password" required><br>
  
      <button>Sign Up</button><br>
    </div>
  </form>
  <style>
  form {
    border: 3px solid #f1f1f1;
    
  }
  #head{
    text-align: center;
    
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #7bb7da;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    margin-left: 316px;
  }
  
</style>
<%- include('partials/footer'); -%>

